.post-form input[type=submit] {
  display: block;
  margin: 1rem auto;
  padding: .5rem .7rem;
  outline: none;
  text-transform: uppercase;
  box-shadow: none;
}

.post-form input[type=submit]:hover:not(:active) {
  transform: translate3d(0,-1px,0);
}

.post-form input[type=text],
.post-form textarea {
  display: block;
  margin: .5rem auto;
  font-size: .8rem;
  resize: none;
}