.post-detail .post-head {
  margin-bottom: 2rem;
}

.post-detail .post-title {
  margin: 0 auto;
  padding: .5rem;
}

.post-detail .post-action-items button {
  font-size: .9rem;
  padding: .25rem .5rem;
}

.post-detail .post-action-items button:hover {
  position: relative;
}

.post-detail .post-comments {
  padding-top: 2rem;
}

.post-detail .post-meta  {
  display: flex;
  font-size: .9rem;
  margin: .5rem auto;
  text-align: center;
  justify-content: center;
  color: #ccc;
}

.post-detail .post-meta div {
  padding: 0 .25rem;
}

.post-detail .comments-list {
  margin: 0 auto;
  text-align: left;
  max-width: 80vw;
}

.post-detail .comments-list .comment-add-form {
  margin-bottom: 1rem;
}

.post-detail .comments-list .add-comment-body {
  width: 100%;
  min-height: 3rem;
  font-size: .9rem;
  padding: .5rem;
}

.post-detail .comments-list .comment-save {
  padding: .5rem;
  font-size: .9rem;
}

.comment-item {
  top: 0;
  position: sticky;
  background-color: #F7F9FB;
  margin-bottom: 1.5rem;
}

.comment-item .comment-body {
  min-height: 2rem;
  background-color: #81A2BE;
  color: #001F3F;
  margin: .5rem 0;
  padding: 1rem .5rem;
  font-size: .95rem;
  filter: drop-shadow(0 1px 1px rgba(0,0,0,.7));
}

.comment-item .comment-body:after {
  content: '';
  width: 0; 
  height: 0; 
  position: absolute;
  right: 9rem;
  bottom: 1.2rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #81A2BE;
}

.comment-item input.comment-body {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  /*background: #fafafa;*/
}

.comment-item .comment-info {
  display: flex;
  justify-content: center;
}

.comment-item .comment-info button {
  box-shadow: none;
}

.comment-item .comment-info .comment-stats {
  font-size: .8rem;
  align-self: center;
  color: #CCC;
}

.comment-item .comment-author {
  text-align: right;
  flex: 1 auto;
  padding: 0 .5rem;
  position: relative;
}

.comment-item .comment-actions { display: flex; } 