.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header a {
  color: inherit;
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
  color: inherit;
}

.App-header .categories {
  
}

.App-intro {
  font-size: large;
  padding: 1em .5em;
}
